.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.openbtn{
  background-color:rebeccapurple ;
  border: 0px;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
}